:root {
  --background: lightsteelblue;
}

/* viewer */
@media screen {
  .pagedjs_page {
     box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
  }
}

@media screen and (min-width: 12.32in) {
  .pagedjs_left_page {
    box-shadow: -2px 4px 10px rgb(0, 0, 0, 0.6), inset -1px -1px 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_right_page {
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.6), inset 1px -1px 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_first_page {
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_left_page:last-of-type {
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
  }
}
