@import 'https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i%7CAlegreya+SC%7CSource+Code+Pro:400,700';

:root {
  --background: lightsteelblue;
}

/* fonts */
body, blockquote {
  font-family: 'Alegreya', STKaiti, "华文楷体", serif;
  font-size: 11pt;
  font-weight: 400;
}

code {
  font-family: 'Source Code Pro', STKaiti, "华文楷体", monospace;
  font-weight: 400;
}

pre, code {
  font-size: 9pt;
}

.smallcaps {
  font-family: 'Alegreya SC', 'AlegreyaSC', STKaiti, "华文楷体", serif;
  font-variant: small-caps;
}

code .smallcaps, .abstract .smallcaps {
  font-family: inherit;
}

a.uri, a.email {
  font-family: 'Source Code Pro', monospace;
  font-size: 9pt;
  color: #2e3192;
}

a[href^="#"] {
  font-family: 'Alegreya';
  color: #ae2230;
}

/* main text content */
.level1 p {
  margin: 8pt 0;
  text-align: justify;
  line-height: 1.25;
  hyphens: auto; /* don't work for Chrome on Windows and Linux */
}

a {
  text-decoration: none;
}

.footnote-ref sup {
  line-height: 0.75;
}

/* margins content */
.pagedjs_margin {
  font-size: 9pt;
}

.running-h1-title, .running-h2-title {
  font-style: italic;
}

.pagedjs_margin-top .pagedjs_margin-content {
  margin-top: auto;
  margin-bottom: 7px;
}

.pagedjs_margin-bottom .pagedjs_margin-content {
  margin-top: 7px;
  margin-bottom: auto;
}

/* viewer */
@media screen {
  .pagedjs_page {
     box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
  }
}

@media screen and (min-width: 12.32in) {
  .pagedjs_left_page {
    box-shadow: -2px 4px 10px rgb(0, 0, 0, 0.6), inset -1px -1px 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_right_page {
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.6), inset 1px -1px 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_first_page {
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_left_page:last-of-type {
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
  }
}
