:root {
  --background: whitesmoke;
  --width: 6in;
  --height: 9in;
  --color-paper: white;
  --color-mbox: rgba(0, 0, 0, 0.2);
  --running-title-width: 2.5in;
}

/* store some string variables */
.shorttitle1 {
  string-set: h1-text content(text);
}

.shorttitle2 {
  string-set: h2-text content(text);
}

/* page size */
@page {
  size: 6in 9in; /* var(--width) doesn't work in browser when printing */
}
@page :blank {

}

/* left page */
.running-h1-title {
  position: running(runningH1Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h1-title:before {
  content: string(h1-text);
}
@page :left {
  @top-left {
    content: counter(page);
  }
  @top-right {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}

/* right page */
.running-h2-title {
  position: running(runningH2Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h2-title:before {
  /* We would want to write: */
  /* content: string(h2-text, start); */
  /* However, this is yet unsupported by Paged.js, see https://gitlab.pagedmedia.org/tools/pagedjs/issues/38 */
  content: string(h2-text);
}
@page :right {
  @top-right {
    content: counter(page);
  }
  @top-left {
    content: element(runningH2Title);
    white-space: nowrap !important;
  }
}

/* New chapter page */
@page chapter:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: counter(page);
  }
}
@page :first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: none !important;
  }
}

/* page breaks; aka CSS fragmentation */
.level1 {
  page: chapter;
  break-before: recto;
}
h1, h2, h3, h4, h5, h6 {
  break-after: avoid;
}
.footenotes {
  break-before: always;
  break-after: always;
}
.figure {
  break-inside: avoid;
}

/* generated content */
a[href^="http"]:not([class="uri"])::after {
  content: " (" attr(href) ")";
  font-size: 90%;
  hyphens: none;
  word-break: break-all;
}
.main a[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after {
  content: " (page " target-counter(attr(href), page) ")";
}

/* TOC */
.toc ul {
  list-style: none;
  padding-left: 0;
  overflow-x: hidden;
}
.toc li li {
  padding-left: 1em;
}
.toc a {
  text-decoration: none;
  background: white;
  padding-right: .33em;
}
.toc a::after {
  /* content: leader(dotted) target-counter(attr(href), page); */
  content: target-counter(attr(href), page);
  float: right;
  background: white;
}
.toc .leaders::before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

/* misc elements */
.subtitle span {
  font-size: .9em;
}
img {
  max-width: 100%;
}
.footnotes {
  font-size: 90%;
}
.footnotes hr::before {
  content: "Footnotes:";
}
.footnotes hr {
  border: none;
}
body {
  hyphens: auto;
}
code {
  hyphens: none;
}

/* two pages in a row if possible on screen */
@media screen {
  body {
    background-color: var(--background);
  }
  .pagedjs_pages {
    display: flex;
    max-width: calc(var(--width) * 2);
    flex: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .pagedjs_page {
    background: var(--color-paper);
    box-shadow: 0 0 0 1px var(--color-mbox);
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    margin: auto auto 5mm auto;
  }
}

/* when a row can hold two pages, start first page on the right */
@media (min-width: 12.32in) {
  .pagedjs_page {
    margin: auto 0 5mm 0;
  }
  .pagedjs_first_page {
    margin-left: var(--width);
  }
}
