:root {
  --background: #2888b8;
  --width: 210mm;
  --color-paper: white;
  --screen-pages-spacing: 5mm;
  --header-width: 462px;
  --header-image-padding: 18px;
}

/* article header */
.document-header {
  border-width: 4px 0;
  border-style: solid;
  width: var(--header-width);
  position: relative;
  margin-left: auto;
  margin-bottom: 110px;
}

.document-header::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(var(--header-width) - var(--width) + var(--margin-left) + var(--margin-right));
  border-width: 4px 0;
  border-style: solid;
  border-color: transparent;
  top: -4px;
  height: 100%;
  width: calc(var(--width) - var(--margin-left) - var(--margin-right) - var(--header-width) - var(--header-image-padding));
  background-clip: border-box;
  background-image: url(https://www.jstatsoft.org/public/site/images/jstatsoft/jsslogo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.journal-name {
  padding-top: 14px;
  padding-left: 20px;
  filter: invert(100%);
  height: 50px;
}

.header-meta {
  font-style: italic;
  margin: 6px 0;
  font-size: 14px;
}

.header-meta .doi {
  float: right;
}

/* title */
h1.title {
  text-align: center;
}

/* authors block */
.authors-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.author-item {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  width: 33%;
  order: calc(-1 * var(--rank));
}
.author {
  font-weight: bold;
}

/* viewer */
@media screen {
  body {
    background-color: var(--background);
    margin: var(--screen-pages-spacing) auto 0 auto;
  }
  .pagedjs_pages {
    display: flex;
    max-width: var(--width);
    flex: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .pagedjs_page {
     background: var(--color-paper);
     box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
     flex-shrink: 0;
     flex-grow: 0;
     margin: auto auto var(--screen-pages-spacing) auto;
  }
}

@media screen and (max-width:1180px)  {
  body {
    width: calc(var(--width) + 2 * var(--screen-pages-spacing));
  }
}
