:root {
  --background: #2888b8;
  --width: 210mm;
  --color-paper: white;
  --screen-pages-spacing: 5mm;
}

/* viewer */
@media screen {
  body {
    background-color: var(--background);
    margin: var(--screen-pages-spacing) auto 0 auto;
  }
  .pagedjs_pages {
    display: flex;
    max-width: var(--width);
    flex: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .pagedjs_page {
     background: var(--color-paper);
     box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
     flex-shrink: 0;
     flex-grow: 0;
     margin: auto auto var(--screen-pages-spacing) auto;
  }
}

@media screen and (max-width:1180px)  {
  body {
    width: calc(var(--width) + 2 * var(--screen-pages-spacing));
  }
}
